:root {
    --nav-bg: #292F5C;
    --home-bg: #E8DBD1;
    --home-txt: black;
    --about-bg: #7BC6E9;
    --exp-bg: #BEEFFB;
    --projects-bg: #dbe4e4;
    --contact-bg: #E8DBD1;
    --hover-bg: #7BC6E9;
}

header,
footer,
section {
    overflow: auto;
}

.brand-logo {
    margin-left: 1em;
}
.nav-font li a{
    font-size: 20px;
}
.nav-wrapper {
    background: var(--nav-bg);
}
.nav-wrapper li:hover {
    background: var(--hover-bg);
}
.highlight {
    background: var(--hover-bg);
}

#mobile-demo {
    background: var(--nav-bg);
}
#mobile-demo li {
    padding: 5px;
}
#mobile-demo li a{
    color: white;
    font-size: 20px;
}
#mobile-demo li:hover, #mobile-demo li a:hover{
    background: var(--hover-bg);
}

.home-container {
    /* transform: translateY(45%); */
}
.home-grid {
    justify-content: center;
    background-color: var(--home-bg);
    text-align: center;
    width: 100%;
    min-height: 90vh;
}

.banner-text {
    color: white;
}

.banner-text h1 {
    color: var(--home-txt);
    font-size: 55px;
}

.banner-text hr {
    border-top: solid 5px var(--home-txt);
    width: 20%;
    margin: auto;
}

.banner-text p {
    color: var(--home-txt);
    font-size: 25px;
}

.about-grid {
    text-align: center;
    justify-content: center;
    background: var(--about-bg);
    color: white;
}

.about-grid hr {
    border-top: solid 5px white;
    width: 10%;
    margin: auto;
}

.about-content {
    margin: auto;
}

.about-content p {
    font-size: 25px;
    line-height: 50px;
    padding: 20px;
}

#experiences {
    background-color: var(--exp-bg);
}

.experience-title {
    text-align: center;
    justify-content: center;
    color: var(--home-txt);
}

.experience-title hr {
    border-top: solid 5px var(--home-txt);
    width: 10%;
    margin: auto;
}

.experience-grid {
    justify-content: center;
}

img#logoimg.activator {
    height: 280px;
}

#projects {
    background-color: var(--projects-bg);
}

.project-title {
    text-align: center;
    justify-content: center;
    color: black;
}

.project-title hr {
    border-top: solid 5px black;
    width: 10%;
    margin: auto;
}

#projects-container {
    margin-left: 8%;
    margin-right: 8%;
}

.project-grid {
    justify-content: center;
}

#contact {
    background: var(--contact-bg);
}
.contact-title {
    text-align: center;
    justify-content: center;
}

.contact-title hr {
    border-top: solid 5px black;
    width: 10%;
    margin: auto;
}
.contact-grid {
    text-align: center;
    justify-content: center;
    color: black;
}

.contact-grid i {
    padding-top: 20px;
    color: black;
    font-size: 7em;
}
.contact-grid i:hover {
    color: var(--hover-bg);
}

.contact-grid p {
    font-size: 18px;
}

.social-links {
    width: 50%;
    margin: auto;
}

.social-links i {
    color: var(--home-txt);
    font-size: 8em;
    padding: 8px;
}
.social-links i:hover {
    color: var(--hover-bg);
}
.biggerFont, .biggerFontp p, .biggerFontu ul li {
    font-size: 18px;
}
.bold {
    font-weight: bold;
}

footer.page-footer {
    font-size: 18px;
    padding: 1em;
    background: var(--nav-bg);
}
